<div class="body">
  <div class="header">
    <h1>Blackjack</h1>
  </div>
  <div class="balance">
    <h1>Balance : {{player.token}}</h1>
  </div>
  <div class="tokensDeck"></div>
  <div class="cardDeck">
    <app-hand></app-hand>
  </div>
  <div class="playerHand"></div>
  <div class="dealerHand"></div>
  <div class="buttons">
    <button class="btn" id="hit">Hit</button>
    <button class="btn" id="stand">Stand</button>
    <button class="btn" id="double">Double</button>
    <button class="btn" id="split">Split</button>
    <button class="btn" id="surrender">Surrender</button>
  </div>
  <div class="result"></div>
  <div class="bet"></div>
  <div class="betInput"></div>
  <div class="betButtons">
    <button class="btn" id="bet5">5</button>
    <button class="btn" id="bet10">10</button>
    <button class="btn" id="bet25">25</button>
    <button class="btn" id="bet50">50</button>
    <button class="btn" id="bet100">100</button>
  </div>
  <div class="betConfirm"></div>
  <div class="betConfirmButtons">
    <button class="btn" id="confirm">Confirm</button>
    <button class="btn" id="cancel">Cancel</button>
  </div>
</div>


