<div *ngIf="player" class="body">
  <div class="Play">
      <div class="header">
        <h1>Blackjack</h1>
        <h1>{{player.name}}</h1>
      </div>
      <div class="balance">
        <h1>Balance : {{player.token}}</h1>
        <h1>Bet amount : {{betAmount}}</h1>
      </div>
      <div class="tokensDeck"></div>
      <div class="cardDeck">

      </div>

      <div class="dealerHand">
        <app-hand [hand]="game.dealerHand"></app-hand>
        <div class="countHand" *ngIf="isGameOver">{{game.dealerScore}}</div>
      </div>
      <div class="playerHand">
        <app-hand [hand]="game.playerHand"></app-hand>
        <div class="countHand" style="color: white">{{game.playerScore}}</div>
      </div>
  </div>
  <div class="PlayBtn">
      <div class="GameOver" *ngIf="isGameOver">
        <h1>La partie est terminé, c'est la TAKI-{{game.isGameOver}}</h1>
        <button class="btn" id="newGame" (click)="newGame()">Nouvelle partie</button>
      </div>
    <div *ngIf="!isGameOver">
      <div class="btnaddCard">
        <button class="btn" id="addCard" (click)="hit()" [disabled]="beforeCreate">Tirer une carte</button>
      </div>
      <div class="buttons">
        <button class="btn-stand" id="stand" (click)="stand()" [disabled]="beforeCreate">S'arrêter</button>
        <button class="btn-surrender" id="surrender" (click)="surrender()" [disabled]="beforeCreate">Abandonner</button>
      </div>
      <div class="result"></div>
      <div class="bet"></div>
      <div class="betInput"></div>
      <div class="betButtons">
        <button class="btn" id="bet5" (click)="bet(5)" [disabled]="afterCreate">5</button>
        <button class="btn" id="bet10" (click)="bet(10)" [disabled]="afterCreate">10</button>
        <button class="btn" id="bet25" (click)="bet(25)" [disabled]="afterCreate">25</button>
        <button class="btn" id="bet50" (click)="bet(50)" [disabled]="afterCreate">50</button>
        <button class="btn" id="bet100" (click)="bet(100)" [disabled]="afterCreate">100</button>
      </div>
      <div class="betConfirm"></div>
      <div class="betConfirmButtons">
        <button class="btn-jouer" id="confirm" (click)="create()" [disabled]="afterCreate">Jouer</button>
        <button class="btn-home" id="cancel" (click)="backHome()">Home</button>
      </div>
    </div>
    </div>

</div>



