<div class="body">
  <div class="header">
    <h1>Blackjack</h1>
  </div>
  <div class="balance">
    <h1>Balance : {{player.token}}</h1>
  </div>
  <div class="tokensDeck"></div>
  <div class="cardDeck">

  </div>

  <div class="dealerHand">
    <app-hand [hand]="dealerHand"></app-hand>
    <div class="countHand">{{countHandPoint(dealerHand)}}</div>
  </div>
  <div class="playerHand">
    <app-hand [hand]="playerHand"></app-hand>
    <div class="countHand">{{countHandPoint(playerHand)}}</div>
  </div>
  <div class="btnaddCard">
    <button  class="btn" id="addCard" (click)="addCard(playerHand)">Ajouter une carte</button>
  </div>
  <div class="buttons">
    <button class="btn" id="hit">Hit</button>
    <button class="btn" id="stand">Stand</button>
    <button class="btn" id="double">Double</button>
    <button class="btn" id="split">Split</button>
    <button class="btn" id="surrender">Surrender</button>
  </div>
  <div class="result"></div>
  <div class="bet"></div>
  <div class="betInput"></div>
  <div class="betButtons">
    <button class="btn" id="bet5" (click)="bet(5)">5</button>
    <button class="btn" id="bet10" (click)="bet(10)">10</button>
    <button class="btn" id="bet25" (click)="bet(25)">25</button>
    <button class="btn" id="bet50" (click)="bet(50)">50</button>
    <button class="btn" id="bet100" (click)="bet(100)">100</button>
  </div>
  <div class="betConfirm"></div>
  <div class="betConfirmButtons">
    <button class="btn" id="confirm">Confirm</button>
    <button class="btn" id="cancel" (click)="cancelBet()">Cancel</button>
  </div>
</div>


