.gamesChoice {
  position: relative;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Assure une largeur adaptée */
  margin: 0 auto;
}

.gamesChoice h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.gamesBlock {
  display: flex;
  flex-direction: row; /* Force les éléments à s'aligner en ligne */
  justify-content: space-between; /* Espacement entre les jeux */
  gap: 20px; /* Espace entre chaque bloc */
  flex-wrap: wrap; /* Permet d'enrouler si l'espace est trop petit */
}

.gameBlock {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%; /* Chaque jeu prendra 30% de la largeur du conteneur */
}

.gameBlock h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.gameBlock p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.gameBlock img {
  display: block;
  margin: 0 auto 15px;
  border-radius: 10px;
}

.gameBlock button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gameBlock button:hover {
  background-color: #0056b3;
}

/* Profil en haut à droite */
.profile-info {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.profile-info h4 {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;
}

.gamesChoice p {
  color: #ff0000;
  font-size: 1.1em;
}
