<div class="gamesChoice">
  <div class="profile-info">
    <h4>Tokens : {{player.token}}</h4>
    <h4>Mon profil : {{player.name}}</h4>
  </div>

  <h2>Choisissez un jeu</h2>
  <div class="gamesBlock">
    <div class="gameBlock">
      <h3>BlackJack</h3>
      <p>Decsription du BlackJack</p>
      <img src="assets/blackjack.png" alt="image blackjack" style="width: 200px; height: 200px;">
      <button (click)="onGameChoice('Blackjack')">Jouer</button>
    </div>
    <div class="gameBlock">
      <h3>Roulette</h3>
      <p>Description de la roulette</p>
      <img src="assets/roulette.png" alt="image roulette" style="width: 200px; height: 200px;">
      <button (click)="onGameChoice('Roulette')">Jouer</button>
    </div>
  </div>
</div>
