<ng-container *ngIf="hand.cards.length > 0">
  <div class="card-container">
    <ng-container *ngFor="let card of hand.cards; let i = index">
      <ng-container *ngIf="showCard; else backCardTemplate">
        <app-card class="card" [style.left.px]="i * 30" [card]="card"></app-card>
      </ng-container>
      <ng-template #backCardTemplate>
        <img class="card" [style.left.px]="i * 30" [src]="backCard" alt="Dos de la carte">
      </ng-template>
    </ng-container>
  </div>
</ng-container>
